{% extends "base.html.twig" %}

{% block body %}
<div class="container">
    <div class="row">
        <div class="col-sm-12">
            <div class="{% block content_class %}show-article-container p-3 mt-4{% endblock %}">
                {% block content_body %}{% endblock %}
            </div>
        </div>
    </div>
</div>
{% endblock %}