{% extends 'comment_admin/comment_base.html.twig' %}

{% block title %}Manage Commnets{% endblock %}

{% block content_body %}
<div class="row">
    <div class="col-sm-12">
        <h1>Manage Comments ({{ pagination.getTotalItemCount }})</h1> 
     
        <form>
            <div class="input-group mb-3">
                <input type="text"
                       name="q"
                       class="form-control"
                       value="{{ app.request.query.get('q') }}"
                       placeholder="Search...">
                <div class="input-group-append">
                    <button type="submit"
                            class="btn btn-outline-secondary">
                        <span class="fa fa-search"></span>
                    </button>
                </div>
            </div>
        </form>

        <table class="table table-striped">
            <thead>
            <tr>
                <th>Article</th>
                <th>Author</th>
                <th>Comment</th>
                <th>Created</th>
            </tr>
            </thead>
            <tbody>
            {% for comment in pagination %}
                <tr>
                    <td>
                        <a class="text-dark" href="{{ path('app_detail', {'id': comment.article.id}) }}">
                            {{ comment.article.artDesc|truncate }}
                        </a>
                    </td>
                    <td>
                        {{ comment.authorname }}
                    </td>
                    <td style="width: 20%;">
                        {{ comment.artComment|truncate }}
                    </td>
                    <td>
                        {{ comment.createAt|ago }}
                    </td>
                </tr>
            {% else %}
                <tr>
                    <td colspan="4" class="text-center">
                        No comments found
                    </td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
        <div class="navigation">
         {{ knp_pagination_render(pagination) }} 
         </div>
    </div>
</div>
{% endblock %}
