<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8">
    <title>{% block title %}Welcome!{% endblock %}</title>
    {% block stylesheets %}
    {# 'app' must match the first argument to addEntry() in webpack.config.js #}
    {{ encore_entry_link_tags('app') }}
      <script src="https://kit.fontawesome.com/2ce703cfa3.js" crossorigin="anonymous"></script>
    <!-- Renders a link tag (if your module requires any CSS)
                 <link rel="stylesheet" href="/build/app.css"> -->
    {% endblock %}
</head>


<body class="container-fluid-fluid">
    {% include "header/header.html.twig" %}
    {% if is_granted('ROLE_PREVIOUS_ADMIN') %}
    <div class="alert">
        <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
        You are currently switched to this user
        <a href="{{ path('index' , {'_switch_user': '_exit'}) }}">
            Exist Impersonation!</a>
    </div>
    {% endif %}
    
    {% block body %}
    {% endblock %}
    {% include "footer/footer.html.twig" %}
    {% block javascripts %}
    {{ encore_entry_script_tags('app') }}

    <!-- Renders app.js & a webpack runtime.js file
        <script src="/build/runtime.js"></script>
        <script src="/build/app.js"></script> -->
    {% endblock %}

</body>

</html>