{{ form_start(form) }}
{{ form_row(form.name) }}

<div class="row">
    <div class="col-sm-{% if form.vars.data.image|default  %}9{% else %}12{% endif %}">
        {{ form_row(form.image) }}
    </div>
    <div class="col-sm-3 text-center">
        {% if form.vars.data.image|default %}
        <a href="{{ uploaded_asset(category.getImageUrl) }}" target="_blank">
        <img class=""
            src="{{ category.getImageUrl|imagine_filter('squared_thumbnail_small') }}"  height="100" alt="Card image cap">
        </a>
        {% endif %}
    </div>
</div>

 

{{ form_row(form.isActive) }}
<button class="btn btn-info m-2 btn-block">{{ button_label|default('Save') }}</button>
{{ form_end(form) }}