{% extends 'base.html.twig' %}

{% block title %}Edit Categories{% endblock %}

{% block body %}

<div class="row justify-content-center">
    <h1>Update Categories</h1>
</div>
 <div class="row justify-content-center">
      
    
      
     
     <div class="col-xs-10 col-sm-10 col-md-10 col-lg-10 p-2">
        {{ include('articulos/categories/_form.html.twig', {'button_label': 'Update'}) }}
     </div>
     <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6 p-2">
  
     </div>
     <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 p-2">
    

    </div>


<div class="col">
   <div class="d-flex justify-content-start">
      <a class="btn btn-success btn-block" href="{{ path('articulos_categories_index') }}">back to list</a>
 
       <div class="d-flex justify-content-end">
         {{ include('articulos/categories/_delete_form.html.twig') }}
       </div>
   </div>
</div>

    
     
 </div>
 

 




{% endblock %}
