{% extends 'base.html.twig' %}

{% block title %}Categories index{% endblock %}

{% block body %}





<div class="row justify-content-center">
    <div class="row w-100 justify-content-center p-5">
        <div class="col-xs-7 col-sm-7 col-md-7 col-lg-7 text-center">
            <h1>Categories ({{ pagination.getTotalItemCount }})</h1>
        </div>
        <div class="col-xs-4 col-sm-4 col-md-4 col-lg-4">

            <form class="form-inline my-2 my-lg-0">
                <input class="form-control mr-sm-2" value="{{ app.request.query.get('q') }}" name="q" type="search"
                       placeholder="Search" aria-label="Search">
                <button class="btn btn-outline-light my-2 my-sm-0" type="submit">Search</button>
            </form>

        </div>
    </div>

    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-10">

        <div class="table-responsive">
            <table class="table table-striped table-bordered">
                <thead class="thead-dark">
                    <tr>
                        <th scope="col">Id</th>
                        <th scope="col">Name</th>
                        <th scope="col">Image</th>
                        <th scope="col">IsActive</th>
                        <th scope="col">actions</th>
                    </tr>
                </thead>
                <tbody class="">

                    {% for category in pagination %}
                    <tr>
                        <td>{{ category.id|truncate }}</td>
                        <td>{{ category.name }}</td>
                        <td>{{ category.image }}</td>
                        <td>{{ category.isActive ? 'Yes' : 'No' }}</td>
                        <td>
                            <a class="btn text-info"
                                href="{{ path('articulos_categories_show', {'id': category.id}) }}"><i
                                    class="fas fa-eye"></i></a></a>
                            <a class="btn text-success"
                                href="{{ path('articulos_categories_edit', {'id': category.id}) }}"><i
                                    class="fas fa-edit"></i></a></a>
                        </td>
                    </tr>
                    {% else %}
                    <tr>
                        <td colspan="5">no records found</td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
</div>


<div class="row">
    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 p-2">
        <a class="btn btn-outline-primary btn-block" href="{{ path('articulos_categories_new') }}">Create new</a>
    </div>
</div>

<div class="row  justify-content-center">
    <div class="text-center">
        {{ knp_pagination_render(pagination) }}
    </div>
</div>


{% endblock %}