{% extends 'base.html.twig' %}

{% block title %}New Categories{% endblock %}

{% block body %}
<div class="row justify-content-center">
    <h1>Create new Categories</h1>
</div>

<div class="row justify-content-center">

    <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6">
        {{ include('articulos/categories/_form.html.twig') }}
    </div>

</div>




<div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">

    <a class="btn btn-success btn-block" href="{{ path('articulos_categories_index') }}">back to list</a>
</div>

{% endblock %}