{% block paginator %}
        {% if maxPages > 1 %}
        <ul class="pagination">
            {%if thisPage > 1 %}
            <li class="page-item">
                <a class="page-link"
                    href="{{ path('articulos_categories_index', {currentPage: thisPage-1 < 1 ? 1 : thisPage-1}) }}">«</a>
            </li>
            {% endif %}

            {# Render each page number #}
            {% for i in 1..maxPages %}
            {% if thisPage == i %}
            <li class="page-item active" aria-current="page">
                <a class="page-link" href="{{ path('articulos_categories_index', {currentPage: i}) }}">{{ i }}</a>
            </li>
            {% else %}
            <li class="page-item">
                <a class="page-link" href="{{ path('articulos_categories_index', {currentPage: i}) }}">{{ i }}</a>
            </li>
            {% endif %}

            {% endfor %}

            {# `»` arrow #}
            {%if thisPage < maxPages %}
            <li class="page-item">
                <a class="page-link"
                    href="{{ path('articulos_categories_index', {currentPage: thisPage+1 <= maxPages ? thisPage+1 : thisPage}) }}">»</a>
            </li>
            {% endif %}
        </ul>
        {% endif %}
{% endblock %}