{% extends 'base.html.twig' %}

{% block title %}Categories{% endblock %}

{% block body %}

<div class="row justify-content-center">
    <h1>Categories</h1>
</div>
<div class="row justify-content-center">

    <div class="col-xs-10 col-sm-10 col-md-10 col-lg-10">
        <table class="table">
            <tbody>
                <tr>
                    <th>Id</th>
                    <td>{{ category.id }}</td>
                </tr>
                <tr>
                    <th>Name</th>
                    <td>{{ category.name }}</td>
                </tr>
                <tr>
                    <th>Image</th>
                    <td>{{ category.image }}</td>
                </tr>
                <tr>
                    <th>IsActive</th>
                    <td>{{ category.isActive ? 'Yes' : 'No' }}</td>
                </tr>
            </tbody>
        </table>
    </div>

</div>

<div class="row">
 
    
    <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6 p-2">
    
        <a class="btn btn-block btn-success "  href="{{ path('articulos_categories_edit', {'id': category.id}) }}">edit</a>
    </div>
    
    <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6 p-2">
        {{ include('articulos/categories/_delete_form.html.twig') }}
    </div>
    
    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 p-2">
        <a class="btn btn-block btn-info" href="{{ path('articulos_categories_index') }}">back to list</a>
    </div>
</div>


{% endblock %}