.container {
    height: 100%;
    align-content: center;
}

.login-template .card {
    height: 370px;
    margin-top: auto;
    margin-bottom: auto;
    width: 400px;
    background-color: rgba(0, 0, 0, 0.5) !important;
}

.login-template .social_icon span {
    font-size: 60px;
    margin-left: 10px;
    color: #ffc312;
}

.login-template .social_icon span:hover {
    color: white;
    cursor: pointer;
}

.login-template .card-header h3 {
    color: white;
}

.login-template .social_icon {
    position: absolute;
    right: 20px;
    top: -45px;
}

.login-template .input-group-prepend span {
    width: 50px;
    background-color: #ffc312;
    color: black;
    border: 0 !important;
}

.login-template input:focus {
    outline: 0 0 0 0 !important;
    box-shadow: 0 0 0 0 !important;
}

.login-template .remember {
    color: white;
}

.login-template .remember input {
    width: 20px;
    height: 20px;
    margin-left: 15px;
    margin-right: 5px;
}

.login-template .login_btn {
    color: black;
    background-color: #ffc312;
    width: 100px;
}

.login-template .login_btn:hover {
    color: black;
    background-color: white;
}

.login-template .links {
    color: white;
}

.login-template .links a {
    margin-left: 4px;
}
