{% form_theme form 'bootstrap_4_layout.html.twig' %}
{% block stylesheet %}
{{ encore_entry_link_tags('autoc_article') }}
{% endblock stylesheet %}
<div class="row p-5 justify-content-center ">

    <div class="col-sm-8">
        {{ form_start(form) }}
        {{ form_widget(form) }}
        {% if is_granted('ROLE_ADMIN_EDITOR') %}
        <button class="btn btn-info btn-block">{{ button_label|default('Save') }} </button>
        {% endif %}

        {{ form_end(form) }}

    </div>

    {% if article.id|default %}
    <div class="col-sm-4 bg-white p-4 text-center text-capitalize">
        <h1>uploadfiles</h1>
        {% for message in app.flashes('error') %}
        <div class="alert alert-danger w-100">
            {{ message }}
            <button type="button" class="close">×</button>
        </div>
        {% endfor %}         
        <div class="row mt-4">
            <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                <ul class="list-group js-reference-list"
                    data-url="{{ path('admin_utility_downloads_list', {id: article.id}) }}">

                </ul>
            </div>

        </div>

        <div class="row mt-3">
            <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                <form class="dropzone js-reference-dropzone"
                    action="{{ path('admin_utility_uploads', { id: article.id }) }}" method="POST"
                    enctype="multipart/form-data">

                </form>

            </div>

        </div>



    </div>

    {% endif %}
</div>

{% block javascripts %}
{{ encore_entry_script_tags('autoc_article') }}
{% endblock %}


