{% extends 'base.html.twig' %}

{% block title %}Edit Articles{% endblock %}
{% block stylesheet %}
{{ encore_entry_link_tags('autoc_article') }}
{% endblock stylesheet %}

{% block body %}

<div class="row justify-content-center">
    <h1>Update Articles</h1>
</div>
<div class="row justify-content-center">



    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 p-2">

        {{ include('articulos/articles/_form.html.twig', {'button_label': 'Update'}) }}
    </div>
</div>



<div class="col">
    <div class="d-flex justify-content-start">
        <a data-toggle="tooltip" data-placement="top" title="Back to main menu" class="btn btn-block btn-success"
            href="{{ path('articulos_articles_index') }}">back to list</a>
        <div class="d-flex justify-content-end">
            {{ include('articulos/articles/_delete_form.html.twig') }}
        </div>
    </div>
</div>



{% endblock %}
{% block javascripts %}
    {{ encore_entry_script_tags('autoc_article') }}
{% endblock %}