{% extends 'base.html.twig' %}

{% block title %}Articles index{% endblock %}

{% block body %}

<div class="row justify-content-center p-5">
    {# {% for message in app.session.flashbag.get('success') %} #}
    {% for message in app.flashes('success') %}
    <div class="alert alert-success w-100">
        {{ message }}faefef
    </div>
    {% endfor %}
    <pre>

    </pre>
    <div class="col-xs-7 col-sm-7 col-md-7 col-lg-7 text-center">
        <h1>Articles ( {{ pagination.getTotalItemCount }} )</h1>
    </div>

    <div class="col-xs-4 col-sm-4 col-md-4 col-lg-4">

        <form class="form-inline my-2 my-lg-0">
            <input class="form-control mr-sm-2" value="{{ app.request.query.get('q') }}" name="q" type="search"
                placeholder="Search" aria-label="Search">
            <button class="btn btn-outline-light my-2 my-sm-0" type="submit">Search</button>
        </form>

    </div>


    <div class="col-xs-12 col-sm-12 col-md-11 col-lg-12 p-3">
        <div class="table-responsive">
            <table class="table table-striped table-bordered">
                <thead class="thead-dark">
                    <tr>
                        <th>
                            <div class="col-sm-2">
                                #
                            </div>
                        </th>
                        <th scope="col">Id</th>
                        <th scope="col">Author</th>
                        <th scope="col">ArtTitle</th>
                        <th scope="col">Descriptio</th>
                        <th scope="col">Categorie</th>
                        <th scope="col">Stars</th>
                        <th scope="col">Visited</th>
                        <th scope="col">Update</th>
                        <th scope="col">Created</th>
                        <th scope="col">Active</th>
                        <th scope="col">Actions</th>

                    </tr>
                </thead>
                <tbody>
                    {% for article in pagination %}
                    <tr>
                        <th scope="row">
                            <div class="input-group col-sm-2">
                                <div class="input-group-prepen">
                                    <div class="input-group-text bg-dark rounded-circle">

                                        <input type="checkbox" data-delete="{{ article.id }}"
                                            aria-label="Checkbox for following text input">

                                    </div>
                                </div>
                            </div>
                        </th>
                        <td>{{ article.id }}</td>
                        <td>{{ article.author.username }}</td>
                        <td>{{ article.artTitle }}</td>
                        <td>{{ article.artDesc|truncate }}</td>
                        <td>{{ article.idCat }}</td>
                        <td>{{ article.artEvalu }}</td>
                        <td>{{ article.visitedCnt }}</td>
                        <td>{{ article.visitedAt ? article.visitedAt|ago : 'Unpublished' }}</td>
                        <td>{{ article.createAt ? article.createAt|ago : '' }}</td>
                        <td>{{ article.isActive ? 'Yes' : 'No' }}</td>
                        <td>
                            <a class="btn text-success" href="{{ path('articulos_articles_show', {'id': article.id}) }}">
                                <i class="fas fa-eye"></i></a>
                            <a class="btn text-info" href="{{ path('articulos_articles_edit', {'id': article.id}) }}">
                                <i class="fas fa-edit"></i></a>
                        </td>
                    </tr>
                    {% else %}
                    <tr>
                        <td colspan="9">no records found</td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>


    </div>
    <div class="col">
        <div class="d-flex justify-content-end">
            {{ knp_pagination_render(pagination) }}
         </div>
            <div class="d-flex justify-content-center">
                <a class="btn btn-outline-light btn-block" href="{{ path('articulos_articles_new') }}">Create new</a>
            
            </div>
       

    </div>

</div>




{% endblock %}