{% extends 'base.html.twig' %}

{% block title %}New Articles{% endblock %}
{% block javascripts %}
    {{ encore_entry_script_tags('autoc_article') }}
{% endblock %}
{% block body %}
<div class="row justify-content-center">
    <h1>Create new Articles</h1>
</div>


{{ include('articulos/articles/_form.html.twig') }}

<div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 p-2">
    <a class="btn btn-success btn-block" href="{{ path('articulos_articles_index') }}">back to list</a>
</div>




{% endblock %}