{% extends 'base.html.twig' %}

{% block title %}Articles{% endblock %}

{% block body %}

<div class="row justify-content-center">
    <h1>Articles</h1>
</div>


<div class="row justify-content-center">
    
    <div class="col-xs-10 col-sm-10 col-md-10 col-lg-10">
        <table class="table">
            <tbody>
                <tr>
                    <th>Id</th>
                    <td>{{ article.id }}</td>
                </tr>
                <tr>
                    <th>ArtTitle</th>
                    <td>{{ article.artTitle }}</td>
                </tr>
                <tr>
                    <th>ArtDesc</th>
                    <td>{{ article.artDesc }}</td>
                </tr>
                <tr>
                    <th>Categorie</th>
                    <td>{{ article.idCat }}</td>
                </tr>
                <tr>
                    <th>ArtEvalu</th>
                    <td>{{ article.artEvalu }}</td>
                </tr>
                <tr>
                    <th>VisitedCnt</th>
                    <td>{{ article.visitedCnt }}</td>
                </tr>
                <tr>
                    <th>VisitedAt</th>
                    <td>{{ article.visitedAt ? article.visitedAt|date('Y-m-d H:i:s') : '' }}</td>
                </tr>
                <tr>
                    <th>CreateAt</th>
                    <td>{{ article.createAt ? article.createAt|date('Y-m-d H:i:s') : '' }}</td>
                </tr>
                <tr>
                    <th>IsActive</th>
                    <td>{{ article.isActive ? 'Yes' : 'No' }}</td>
                </tr>
            </tbody>
        </table>
    </div>
    
</div>



<div class="row">

    <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6">
        <a class="btn btn-block btn-info" href="{{ path('articulos_articles_edit', {'id': article.id}) }}">edit</a>

    </div>
    <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6">
        {{ include('articulos/articles/_delete_form.html.twig') }}

    </div>

</div>
<div class="row">
    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 p-2">

        <a class="btn btn-success btn-block" href="{{ path('articulos_articles_index') }}">back to list</a>
    </div>
</div>



{% endblock %}