@import './helper/variables';
 

@import "~bootstrap/scss/bootstrap";
@import '~font-awesome';

@import './layout/footer';
@import './layout/navigation';
@import './components/table'; 
@import './helper/fontHelper';
@import './components/autocomplete';
@import './components/comments';
@import './components/login';



 
 
body {
    
    position: relative;
    background: $lightGray;
    min-height: 45rem;
    padding-bottom: 80px;
 
}

html {height:100%}



 

/* ADVERTISEMENT */


/* ARTICLES */

.home-card .card {

    max-height: 380px !important;
    min-height: 380px !important;
 
}

.home-card .card-title {
    word-wrap: break-word;
    white-space: break;
    max-height: 80px !important;
    min-height: 80px !important;
}
 
 

.main-article {
    border: 2px solid #efefee;
    Background: #fff;
    border-top-left-radius: 6px;
    border-top-right-radius: 6px;
}

.main-article img {
    width: 100%;
    height: 250px;
    border-top-right-radius: 5px;
    border-top-left-radius: 5px;
    border-top: 5px solid lightblue;
}

.article-container {
    border: 1px solid #efefee;
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
    background: #fff;
}

.main-article-link, .article-container a {
    text-decoration: none;
    color: #000;
}

.main-article-link:hover {
    text-decoration: none;
    color: #000;
}

.article-title {
    min-width: 300px;

}

@media (max-width: 440px) {
    .article-title {
        min-width: 100px;
        max-width: 245px;
    }
}

.article-img {
    height: 100px;
    width: 100px;
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
}

.article-author-img {
    height: 25px;
    border: 1px solid darkgray;
}

.article-details {
    font-size: .8em;
}

/* PROFILE */

.profile-img {
    width: 150px;
    height: auto;
    border: 2px solid #fff;
}

.profile-name {
    font-size: 1.5em;
}

.my-article-container {
    background: #FFBC49;
    border: solid 1px #efefee;
    border-radius: 5px;
}


 
/* ARTICLE SHOW PAGE */

@media (max-width: 767px) {
    .comment-form {
        min-width: 260px;
    }
    .comment-container {
        max-width: 280px;
    }
}

 


 
/* -- media query for user profile image -- */

@media (max-width: 767px) {
    .user-image {
        max-height: 400px;
    }
}