/* NAVIGATION */

.navbar-bg {
    background-size: 80%;
}

a {
    color: white;
}

a:hover {
    color: white;
}

.dropdown-menu,
.dropdown-menu.show {
    right: 0;
}

.space-brand {
    color: #fff;
    font-weight: bold;
}

.nav-profile-img {
    width: 50px;
    border: 1px solid #fff;
}

/* NAVBAR BACKGROUND*/
#header-galaxy {
    background-image: url("../../uploads/home/galaxy-header.jpg") !important;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    border-bottom: 3px solid #ffc312;
}
