<form method="post" action="{{ path('user_user_profile_delete', {'id': user_profile.id}) }}" onsubmit="return confirm('Are you sure you want to delete this item?');">
    <input type="hidden" name="_method" value="DELETE">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ user_profile.id) }}">
    <button class="btn btn-block btn-danger">Delete</button>
</form>
