{% form_theme form 'bootstrap_4_layout.html.twig' %}
<div class="row justify-content-center">
    <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6">

        {{ form_start(form) }}
        {{ form_widget(form) }}
        <button class="btn btn-info btn-block">{{ button_label|default('Save') }}</button>
        {{ form_end(form) }}
    </div>
</div>