{% extends 'base.html.twig' %}

{% block title %}Edit UserProfile{% endblock %}

{% block body %}
<div class="row justify-content-center">
    <h1>Edit UserProfile</h1>
</div>

<div class="row justify-content-center">
    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 p-2">
        {{ include('user/user_profile/_form.html.twig', {'button_label': 'Update'}) }}
    </div>
    <div class="col-xs-3 col-sm-3 col-md-3 col-lg-3">
        {{ include('user/user_profile/_delete_form.html.twig') }}
    </div>
    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 p-2">
        <a class="btn btn-success btn-block" href="{{ path('user_user_profile_index') }}">back to list</a>
    </div>
</div>
{% endblock %}

