{% extends 'base.html.twig' %}

{% block title %}UserProfile index{% endblock %}

{% block body %}
<div class="row justify-content-center p-5">
    <h1>UserProfile index</h1>
</div>


<div class="row justify-content-center">
    <div class="col-xs-11 col-sm-11 col-md-10 col-lg-11">
        <div class="table-bordered table-responsive-sm">
            <table class="table table-striped">
                <thead class="thead-dark">
                    <tr>
                        <th>

                        </th>
                        <th scope="row">
                            <div class="col-sm-2">
                                #
                            </div>
                        </th>

                        <th scope="col">UserName</th>
                        <th scope="col">UserAddr</th>
                        <th scope="col">UserEmail</th>
                        <th scope="col">Gender</th>
                        <th scope="col">CreateAt</th>
                        <th scope="col">IsActive</th>
                        <th scope="col">User Role</th>
                        <th scope="col">actions</th>

                    </tr>
                </thead>
                <tbody>
                    {% for user_profile in user_profiles %}
        

                    <tr>
                        <td scope="row">
                            <div class="input-group col-sm-2">
                                <div class="input-group-prepen">
                                    <div class="input-group-text bg-white">
    
                                        <input type="checkbox" data-delete="{{ user_profile.id }}"
                                            aria-label="Checkbox for following text input">
    
                                    </div>
                                </div>
                            </div>
                        </td>
                        <td scope="col">{{ user_profile.id }}</td>
                        <td scope="col">{{ user_profile.userName }}</td>
                        <td scope="col">{{ user_profile.userAddr|truncate }}</td>
                        <td scope="col">{{ user_profile.userEmail }}</td>
                        <td scope="col">{{ user_profile.gender }}</td>
                        <td scope="col">{{ user_profile.createAt ? user_profile.createAt|date('Y-m-d H:i:s')|ago : '' }}
                        </td>
                        <td scope="col">{{ user_profile.isActive ? 'Yes' : 'No' }}</td>
                        <td scope="col">
                            <div class="row justify-content-center">
                                <div class="input-group col">
                                    <select class="custom-select" data-toggle="tooltip" data-placement="top"
                                        title="See roles form user {{ user_profile.userName }}" id="inputGroupSelect04"
                                        aria-label="Example select with button addon">
                                        <option selected>Roles</option>
                                        {% for role in user_profile.roles  %}
                                        <option value="role">{{ role }}</option>
                                        {% endfor %}
                                    </select>
                                </div>
                        </td>
                        <td scope="col">

                            <a class="btn text-success"
                                href="{{ path('user_user_profile_show', {'id': user_profile.id}) }}"><i
                                    class="fas fa-eye"></i></a></a>
                            <a class="btn text-info"
                                href="{{ path('user_user_profile_edit', {'id': user_profile.id}) }}"><i
                                    class="fas fa-edit"></i></a></a>
                        </td>
                    </tr>
                    {% else %}
                    <tr>
                        <td colspan="9">no records found</td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>

    </div>
    <div class="col-xs-12 col-sm-12 col-md-10 col-lg-10 p-2">
        <a class="btn btn-outline-primary btn-block" href="{{ path('user_user_profile_new') }}">Create new</a>
    </div>
    <div class="row  justify-content-center">
        <div class="text-center">
            {# pagination section #}
        </div>
    </div>
</div>

{% endblock %}