{% extends 'base.html.twig' %}

{% block title %}New UserProfile{% endblock %}

{% block body %}
<div class="row justify-content-center">
    <h1>Create new UserProfile</h1>
</div>


    {{ include('user/user_profile/_form.html.twig') }}
    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 p-2">
        <a class="btn btn-success btn-block" href="{{ path('user_user_profile_index') }}">back to list</a>
    </div>

{% endblock %}
