{% extends 'base.html.twig' %}

{% block title %}UserProfile{% endblock %}

{% block body %}
    <h1>UserProfile</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>UserDni</th>
                <td>{{ user_profile.id }}</td>
            </tr>
            <tr>
                <th>UserName</th>
                <td>{{ user_profile.userName }}</td>
            </tr>
            <tr>
                <th>UserAddr</th>
                <td>{{ user_profile.userAddr }}</td>
            </tr>
            <tr>
                <th>UserEmail</th>
                <td>{{ user_profile.userEmail }}</td>
            </tr>
            <tr>
                <th>UserPassword</th>
                <td>{{ user_profile.password }}</td>
            </tr>
            <tr>
                <th>Gender</th>
                <td>{{ user_profile.gender }}</td>
            </tr>
            <tr>
                <th>CreateAt</th>
                <td>{{ user_profile.createAt ? user_profile.createAt|date('Y-m-d H:i:s') : '' }}</td>
            </tr>
            <tr>
                <th>IsActive</th>
                <td>{{ user_profile.isActive ? 'Yes' : 'No' }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('user_user_profile_index') }}">back to list</a>

    <a href="{{ path('user_user_profile_edit', {'id': user_profile.id}) }}">edit</a>

    {{ include('user/user_profile/_delete_form.html.twig') }}
{% endblock %}
