{% extends 'base.html.twig' %}


{% block title %}Detail{% endblock %}
{% block stylesheet %}
 
{{ parent() }}
    {{ encore_entry_script_tags('heart_cnt') }}
    
 
{% endblock %}

{% block body %}

<div class="row justify-content-center p-5">
    <div class="col-xs-12 col-sm-6 col-md-4 col-lg-8 p-2">
        <div class="card">
            <img class="card-img-top" src="{{ asset('static/img/galaxy-header.jpg') }}" alt="Card image cap">
            <div class="text-right p-2 ">
                <small>{{ article.idCat.name}}</small>
            </div>

            <div class="card-body">
                <h5 class="card-title"> {{ article.artTitle }} <small>({{ article.getNotDletedComments|length }})
                        comments</small></h5>

                <p class="card-text">{{ article.artDesc}} </p>
            </div>
            <div class="card-body">
                <small>Tags</small>


                <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                    {% for tag in article.tags %}
                    <span><small class="badge badge-secondary">{{ tag.name }} <i class="fas fa-tags"></i></small></span>
                    {% endfor %}
                </div>



            </div>
            <ul class="list-group d-inline list-group-flush text-center">
                <li class="d-inline-block">{{ article.author.Email}} </li>
                <li class="d-inline-block">{{ article.visitedAt|ago }}</li>
                <li class="d-inline-block"><a href="{{ path('app_detail_heart', {id: article.id}) }}"
                        class="far fa-heart text-danger js-like-article"></a>
                    <span class="js-like-article-count">{{ article.heartCount }}</span>
                </li>

            </ul>


        </div>
    </div>

    <div class="row p-5">
        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
            {% for comment in article.getNotDletedComments %}
            <div class="row">
                <div class="col-sm-12">
                    <img class="comment-img rounded-circle" src="{{ comment.idUser.getAvatarUrl(50) }}">
                    <div class="comment-container d-inline-block pl-3 align-top">
                        <span class="commenter-name">{{ comment.idUser.username }}</span>
                        <small>about {{ comment.createAt|ago }}</small>
                        {% if comment.isActive %}
                        <span class="fa fa-close"></span> deleted
                        {% endif %}

                        <br>
                        <span class="comment"> {{ comment.artComment }}</span>
                        <p><a href="#">Reply</a></p>
                    </div>
                </div>
            </div>
            {% endfor %}

        </div>
    </div>

</div>

{% block javascripts %}
    {{ parent() }}
        {{ encore_entry_script_tags('heart_cnt') }}
        
{% endblock %}

{% endblock %}