{% extends 'base.html.twig' %}

{% block title %}Register!{% endblock %}

{% block body %}
 
<div class="container">
    <div class="row">
        <div class="col-sm-12">
            {# todo - replace with a Symfony form! #}
            <!-- <form class="form-signin" method="POST">
                <h1 class="h3 mb-3 font-weight-normal">Register</h1>
                <label for="inputName" class="sr-only">Dni</label>
                <input type="text" name="username" id="inputName" class="form-control" placeholder="Jhon Doe" required autofocus>
                
                <label for="inputAddr" class="sr-only">Dni</label>
                <input type="text" name="addr" id="inputAddr" class="form-control" placeholder="Los angeles NY" required autofocus>
                <select class="form-control" name="gender" id="cars">
                    <option value="F">Female</option>
                    <option value="M">Male</option>
                </select>
                <label for="inputDni" class="sr-only">Dni</label>
                <input type="text" name="dni" id="inputDni" class="form-control" placeholder="DNI passport" required autofocus>

                <label for="inputEmail" class="sr-only">Email address</label>
                <input type="email" name="email" id="inputEmail" class="form-control" placeholder="Email address" required autofocus>
                <label for="inputPassword" class="sr-only">Password</label>
                <input type="password" name="password" id="inputPassword" class="form-control" placeholder="Password" required>

                <div class="checkbox mb-3">
                    <label>
                        <input type="checkbox" name="_terms" required> Agree to terms I for sure read
                    </label>
                </div>
                <button class="btn btn-lg btn-primary btn-block" type="submit">
                    Register
                </button>
            </form> -->
            {{ form_start(register_form) }}
            {{ form_widget(register_form, {
                attr: {}
            }) }}
            <button class="btn btn-lg btn-primary btn-block" type="submit">
                Register
            </button>
            {{ form_end(register_form) }}
        </div>
    </div>
</div>
{% endblock %}