<form method="post" action="{{ path('user_user_roles_delete', {'id': user_role.id}) }}" onsubmit="return confirm('Are you sure you want to delete this item?');">
    <input type="hidden" name="_method" value="DELETE">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ user_role.id) }}">
    <button class="btn btn-block btn-danger" data-toggle="tooltip" data-placement="top" title="Delete user ?">Delete</button>
</form>
