{% block stylesheets %}

{{ encore_entry_link_tags('role_section') }}
{% endblock %}
{% block javascripts %}

{{ encore_entry_script_tags('role_section') }}
{% endblock %}

<div class="row justify-content-center">

    <div class="col-xs-8 col-sm-8 col-md-8 col-lg-8">

        {{ form_start(form) }}
        {{ form_row(form.user) }}

        <ul id="roles-fields-list" class="list-group list-unstyled"
            data-prototype="{{ form_widget(form.roles.vars.prototype)|e }}"
            data-widget-tags="{{ '<li class="list-item"></li>'|e }}" data-widget-counter="{{ form.roles|length }}">
            {% for role in form.roles %}

            <li class="role-delete-element">
                {{ form_errors(role) }}
                {{ form_widget(role, {
                    attr:{
                        class: 'mt-4',
                    }
                   })
                }}
                     
            </li>
            {% endfor %}
        </ul>

        <button type="button" class="add-another-collection-widget btn btn-outline-info"
            data-list-selector="#roles-fields-list">Add another
            Role</button>
       
        <div class="row justify-content-center p-5">
            <div class="col-xs-6 col-sm-6 col-md-6 col-lg-8 text-center">
                <button data-toggle="tooltip" data-placement="top" title="Update roles form user {{ form.vars.value.user.username }}" class="btn btn-block btn-info">{{ button_label|default('Save') }}</button>

            </div>
        </div>

        {{ form_end(form) }}
    </div>

</div>