{% extends 'base.html.twig' %}

{% block title %}Edit UserRoles{% endblock %}



{% block body %}

<div class="row pt-4">
    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 text-center">
        <h1>Edit UserRoles</h1>
    </div>
</div>



{{ include('user/user_roles/_form.html.twig', {'button_label': 'Update'}) }}

<div class="col">
    <div class="d-flex justify-content-start">
        <a data-toggle="tooltip" data-placement="top" title="Back to main menu" class="btn btn-block  btn-success"
            href="{{ path('user_user_roles_index') }}">back to list</a>
        <div class="d-flex justify-content-end">
            {{ include('user/user_roles/_delete_form.html.twig') }}
        </div>
    </div>
</div>




{% endblock %}