{% extends 'base.html.twig' %}

{% block title %}UserRoles index{% endblock %}

{% block body %}

<div class="row justify-content-center">
    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 text-center p-4">
        <h1>UserRoles index</h1>
    </div>
    <div class="col-xs-11 col-sm-11 col-md-11 col-lg-11 pt-4">
        <div class="table-condensed table-responsive-sm">
            <table class="table table-striped">
                <thead class="thead-dark">
                    <tr>
                        <th scope="row">
                            <div class="col-sm-2">
                                #
                            </div>
                        </th>
                        <th scope="col">Id</th>
                        <th scope="col">Roles</th>
                        <th scope="col">User</th>
                        <th scope="col">actions</th>
                    </tr>
                </thead>
                <tbody>
                    {% for user_role in user_roles %}
                    <tr>
                        <td scope="row">
                            <div class="input-group col-sm-2">
                                <div class="input-group-prepen">
                                    <div class="input-group-text bg-dark">

                                        <input type="checkbox" data-delete="{{ user_role.id }}"
                                            aria-label="Checkbox for following text input">

                                    </div>
                                </div>
                            </div>
                        </td>
                        <td scope="col">{{ user_role.id }}</td>
                        <td scope="col">
                            <div class="input-group col-sm-4">
                                <select class="custom-select" data-toggle="tooltip" data-placement="top"
                                    title="See roles form user {{ user_role.user.username }}" id="inputGroupSelect04"
                                    aria-label="Example select with button addon">
                                    <option selected>Roles</option>
                                    {% for role in user_role.roles  %}
                                    <option value="role">{{ role }}</option>
                                    {% endfor %}
                                </select>

                            </div>
                        </td>
                        <td scope="col">{{ user_role.user.username}}</td>
                        <td scope="col">
                            <a data-toggle="tooltip" 
                               data-placement="top" 
                               title="See user {{ user_role.user.username }}"
                               class="btn text-success"
                               href="{{ path('user_user_roles_show', {'id': user_role.id}) }}">
                               <i class="fas fa-eye"></i>
                            </a>
                            <a data-toggle="tooltip" 
                               data-placement="top"
                               title="Edit user {{ user_role.user.username }}" 
                               class="btn text-info"
                               href="{{ path('user_user_roles_edit', {'id': user_role.id}) }}">
                               <i class="fas fa-edit"></i>
                            </a>
                        </td>
                    </tr>
                    {% else %}
                    <tr>
                        <td colspan="3">no records found</td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
</div>




<div class="row p-4">
    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
        <a class="btn btn-block btn-outline-light" href="{{ path('user_user_roles_new') }}">Create new</a>

    </div>
</div>


{% endblock %}