{% extends 'base.html.twig' %}

{% block title %}New UserRoles{% endblock %}

{% block body %}

<div class="row justify-content-center p-4">
    <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6 text-center">
        <h1>Create new UserRoles</h1>
    </div>
</div>


    {{ include('user/user_roles/_form.html.twig') }}

<div class="row">
    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 p-4">
        <a data-toggle="tooltip" data-placement="top" title="Back to main menu" class="btn btn-block btn-success" href="{{ path('user_user_roles_index') }}">back to list</a>
    </div>
</div>

   
{% endblock %}
