{% extends 'base.html.twig' %}

{% block title %}UserRoles{% endblock %}

{% block body %}


<div class="col p-4">
    <div class="d-flex justify-content-center">
        <h1>UserRoles</h1>
    </div>
</div>


<div class="col">
    <div class="d-flex justify-content-center">
        <table class="table table-striped">
            <tbody>
                <tr>
                    <th scope="">Id</th>
                    <td scope="col">{{ user_role.id }}</td>
                </tr>
                <tr>
                    <th>Roles</th>
                    <td>{{ user_role.roles ? user_role.roles|join(', ') : '' }}</td>
                </tr>
            </tbody>
        </table>

    </div>
</div>


<div class="col p-4">
    <div class="d-flex justify-content-start">

        <a class="btn btn-block btn-success"   
        data-toggle="tooltip" 
        data-placement="top" 
        title="Back to main menu"
        href="{{ path('user_user_roles_index') }}">back to list</a>

        <div class="d-flex justify-content-between">
            <a class="btn btn-block btn-info text-nowrap"
            data-toggle="tooltip" 
            data-placement="top" 
            title="Edit user role"            
            href="{{ path('user_user_roles_edit', {'id': user_role.id}) }}"> Edit Role </a>
        </div>
        <div class="d-flex justify-content-end">
            {{ include('user/user_roles/_delete_form.html.twig') }}
        </div>
    </div>
</div>





{% endblock %}