{% extends 'base.html.twig' %}

{% block title %}Hello BaseController!{% endblock %}

{% block body %}



<br><br><br><br>
<div class="row p-5 home-card">
    {% for category in categorys  %}
    <div class="col-xs-12 col-sm-6 col-md-4 col-lg-2 p-2">
        <div class="card" style="width: 18rem;">
            <img class="img-fluid w-100 card-img-top img-thumbnail"
                src="{{  asset(category.getImageUrl)|imagine_filter('squared_thumbnail_small')  }}"
                alt="Card image cap">


            <div class="text-right p-2 ">
                <small>{{ category.name}}</small>

                <p> {{ '1000'|format_currency('USD', locale='es')}}</p>
            </div>

        </div>
    </div>
    {% endfor %}
</div>

{% endblock %}

